body{
    margin:0px;
    font-family: 'Work Sans', sans-serif;

}

.section{
    display: grid;
    grid-template-rows: 70% 30%;
    height: 100vh;
}

.playArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#707070;
}
#playHistory{
    display: flex;
    background-color: aqua;
    flex-direction: row;
}

.currentScore{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}

.userScoreBoard{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.systemScoreBoard{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.userScoreBoard span, .systemScoreBoard span{
 display: block;
}

.scoreTitle{
    font-size: 32px;
}

#userScore, #systemScore{
    font-size: 160px;
}

#historyHead{
    display: grid;
    grid-auto-rows: 4;
    align-items: center;
    font-weight: 700;
    margin: 0px 20px;
}
.historyScore{
    display: grid;
    grid-auto-columns: 9;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    margin-right: 20px;
}

button{
    border-radius: 50%;
    height:140px;
    width: 140px;
    border:0px;
    box-shadow: 0px 2px 4px 0px #c2c2c2;
    background-color: #ffffff;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 70px;
    margin-bottom: 40px;
}

#rock{
    background-image: url('rock.png');
    
}

#paper{
    background-image: url('paper.png');
    margin-right: 60px;
    margin-left: 60px;
}

#scissors{
    background-image: url('scissors.png');
}

#resetButton{
    background-image: url('replay.png');
}

#finalResults{
    text-align: center;
    font-size: 32px;
}

#finalResults span{
    display: block;
    margin-top: 20px;
    font-size:64px;
}
#resetButton{
    margin: 40px;
}