@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
	font-family: "Montserrat", "sans-serif";
}

.parent {
	width: 100vw;
}
.highlights-section {
	display: grid;
	grid-template-columns: 70vw 30vw;
}

.player-details {
	display: flex;
	flex-direction: column;
}

.player-name {
	display: block;
	font-weight: 600;
	font-size: 60px;
	color: #2929cc;
	margin: 20px 0px;
}

.highlight {
	display: block;
	color: #181d27;
	font-size: 30px;
	font-weight: bold;
	margin: 20px 0px;
}

.highlights-tab {
	display: grid;
	grid-template-columns: 30% 30% 30%;
}

.highlights-details-division {
	border-right: 4px solid #2929cc;
}

.highlights-details {
	display: flex;
	flex-direction: column;
}

.highlight-item {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	margin: 10px 0px;
	justify-content: center;
}

.light-text {
	font-size: 18px;
	color: #6d6d6d;
}

.bold-text {
	font-size: 24px;
	color: #464646;
	font-weight: bold;
	letter-spacing: 0.8px;
}

img {
	height: 200px;
	width: 200px;
	border-radius: 60%;
	justify-self: center;
	align-self: center;
}

.statistics-title {
	margin-top: 20px;
	width: 100%;
	color: #464646;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
