.userText {
	font-size: 14px;
	color: #3f3f3f;
	word-wrap: break-word;
}

.userHighlight {
	font-size: 12px;
	padding: 4px;
	color: #ffffff;
	border-radius: 2px;
}

.buttonGroup {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 10%;
}

.modal {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 20%;
	right: 20%;
	background: #ffffff;
	border: 1px solid #cfcfcf;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.close-button {
	position: absolute;
	top: -20px;
	right: 20px;
	border-radius: 50%;
	padding: 2px;
	min-width: 30px;
	max-width: 30px;
	min-height: 30px;
	max-height: 30px;
	line-height: 0px;
	font-weight: bold;
}
