.formDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form {
	width: 30vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	border: 0.5px solid #cfcfcf;
	margin: 30px 0px;
}

.url-link {
	text-decoration: none;
	font-size: 14px;
}
