.navbar-parent {
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 0px 4px 4px #dfdfdf;
	background: #192a51;
	position: fixed;
}

.navbar {
	padding: 10px 20px;
	width: 80%;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar-logo {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #ffffff;
}

.nav-links {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.link {
	font-size: 16px;
	text-decoration: none;
	color: #ffffff;
	padding: 10px 20px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
