.display-details {
	display: grid;
	grid-template-columns: 40vw 60vw;
	justify-content: center;
}

.product-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.textSmall {
	font-size: 14px;
	letter-spacing: 0.3px;
}

.text {
	font-size: 16px;
}

.textPrice {
	font-size: 20px;
	font-weight: 600;
	color: #2980b9;
	letter-spacing: 0.3px;
}
