@import url("https://fonts.googleapis.com/css?family=Lobster|Work+Sans:400,500,600&display=swap");

body {
	margin: 0;
	font-family: "Work Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* Common */

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

/* Margin top */
.mt-0 {
	margin-top: 0px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-40 {
	margin-top: 40px;
}

/* Margin bottom */
.mb-0 {
	margin-bottom: 0px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-40 {
	margin-bottom: 40px;
}

/* Margin left */
.ml-0 {
	margin-left: 0px;
}
.ml-10 {
	margin-left: 10px;
}
.ml-20 {
	margin-left: 20px;
}
.ml-30 {
	margin-left: 30px;
}
.ml-40 {
	margin-left: 40px;
}

/* Margin right */
.mr-0 {
	margin-right: 0px;
}
.mr-10 {
	margin-right: 10px;
}
.mr-20 {
	margin-right: 20px;
}
.mr-30 {
	margin-right: 30px;
}
.mr-40 {
	margin-right: 40px;
}

/* Margin left and Margin right */
.mx-0 {
	margin-left: 0px;
	margin-right: 0px;
}
.mx-10 {
	margin-left: 10px;
	margin-right: 10px;
}
.mx-20 {
	margin-left: 20px;
	margin-right: 20px;
}
.mx-30 {
	margin-left: 30px;
	margin-right: 30px;
}
.mx-40 {
	margin-left: 40px;
	margin-right: 40px;
}

/* Margin top and Margin bottom */
.my-0 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.my-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.my-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.my-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.my-40 {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* Margin all */
.m-0 {
	margin: 0px;
}
.m-10 {
	margin: 10px;
}
.m-20 {
	margin: 20px;
}
.m-30 {
	margin: 30px;
}
.m-40 {
	margin: 40px;
}

/* padding top */
.pt-0 {
	padding-top: 0px;
}
.pt-10 {
	padding-top: 10px;
}
.pt-20 {
	padding-top: 20px;
}
.pt-30 {
	padding-top: 30px;
}
.pt-40 {
	padding-top: 40px;
}
.pt-nav {
	padding-top: 100px;
}

/* padding bottom */
.pb-0 {
	padding-bottom: 0px;
}
.pb-10 {
	padding-bottom: 10px;
}
.pb-20 {
	padding-bottom: 20px;
}
.pb-30 {
	padding-bottom: 30px;
}
.pb-40 {
	padding-bottom: 40px;
}

/* padding left */
.pl-0 {
	padding-left: 0px;
}
.pl-10 {
	padding-left: 10px;
}
.pl-20 {
	padding-left: 20px;
}
.pl-30 {
	padding-left: 30px;
}
.pl-40 {
	padding-left: 40px;
}

/* padding right */
.pr-0 {
	padding-right: 0px;
}
.pr-10 {
	padding-right: 10px;
}
.pr-20 {
	padding-right: 20px;
}
.pr-30 {
	padding-right: 30px;
}
.pr-40 {
	padding-right: 40px;
}

/* padding left and padding right */
.px-0 {
	padding-left: 0px;
	padding-right: 0px;
}
.px-10 {
	padding-left: 10px;
	padding-right: 10px;
}
.px-16 {
	padding-left: 16px;
	padding-right: 16px;
}
.px-20 {
	padding-left: 20px;
	padding-right: 20px;
}
.px-30 {
	padding-left: 30px;
	padding-right: 30px;
}
.px-40 {
	padding-left: 40px;
	padding-right: 40px;
}

/* padding top and padding bottom */
.py-0 {
	padding-top: 0px;
	padding-bottom: 0px;
}
.py-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.py-16 {
	padding-top: 16px;
	padding-bottom: 16px;
}
.py-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.py-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.py-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

/* padding all */
.p-0 {
	padding: 0px;
}
.p-10 {
	padding: 10px;
}
.p-16 {
	padding: 16px;
}
.p-20 {
	padding: 20px;
}
.p-30 {
	padding: 30px;
}
.p-40 {
	padding: 40px;
}

/* Buttons */
.btn {
	border-radius: 8px;
	padding: 16px;
	border: 0px;
	font-family: "Work Sans", sans-serif;
	transition: 0.3s;
	max-width: 200px;
}

.btn-outline {
	border: 1px solid #218380;
	color: #218380;
	background-color: #ffffff;
}

.btn:hover {
	box-shadow: 0px 4px 6px 0px #dadce0;
}

.btn-primary {
	color: #ffffff;
	background-color: #f39c12;
}

.btn-green {
	color: #ffffff;
	background-color: #218380;
}

/* Input Field */

.inputField {
	padding: 16px;
	border: 1px solid #cfcfcf;
	border-radius: 8px;
	font-family: "Work Sans", sans-serif;
}

.inputField:focus {
	border: 1px solid #218380;
	color: #218380;
}

/* Form */

.form {
	display: flex;
	flex-direction: column;
	width: 20vw;
	border: 0.5px solid #cfcfcf;
	border-radius: 8px;
}

.formParent {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 90vh;
	justify-content: center;
	align-items: center;
}

.formTitle {
	font-size: 36px;
	font-family: "Lobster", cursive;
	color: #f39c12;
	text-align: center;
}

.textLink {
	color: #f39c12;
	font-weight: 600;
}

.parentDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

hr {
	border: 0px;
	border-bottom: 1px solid #c2c2c2;
}
