.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .inputGroup{
    display: flex;
    flex-direction: column;
  }
  .btn{
    margin-top:20px;
    color: #ffffff;
    background:linear-gradient(135deg,#0080ff,#2929cc);
    padding: 14px;
    font-size: 14px;
    border:0px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 0px #888888;
    transition:0.3s;
  }
  .btn:hover{
    box-shadow: 0px 4px 6px 0px #c2c2c2;
  }

  .inputField{
    margin-top:20px;
    padding: 14px;
    font-size: 14px;
    border:1px solid #707070;
    border-radius: 6px;
    text-align: center;
  }