.blogForm {
	display: flex;
	flex-direction: column;
	width: 60vw;
	border: 0.5px solid #cfcfcf;
	border-radius: 8px;
	justify-content: center;
	align-items: center;
}

.addTitleInput {
	font-size: 36px;
	border: 0px;
	color: #f39c12;
	font-family: "Lobster", cursive;
	text-align: center;
	/* word-wrap: break-word;
	word-break: break-all; */
	resize: none;
}

.addTitleInput::placeholder {
	color: #f39c12;
}

.addTitleInput:focus::placeholder {
	color: transparent;
}

.addTitleInput:focus {
	outline: none;
}

.editorParent {
	width: 100%;
}

.customEditor {
	border: 1px solid #f1f1f1;
	margin-top: 10px;
	min-height: 200px;
	padding: 0px 20px;
}

@media screen and (max-width: 992px) {
	.addTitleInput {
		font-size: 24px;
		word-wrap: break-word;
	}
	.blogForm {
		padding: 20px;
	}
}
