.blogContainer h2 {
	color: #f39c12;
	font-family: "Lobster", cursive;
	text-align: center;
	font-size: 36px;
	font-weight: 400;
}

.blogContainer {
	display: flex;
	flex-direction: column;
	width: 70vw;
	justify-content: center;
}

.blogsCategories {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.tag {
	font-size: 10px;
	background-color: #c2c2c2;
	border-radius: 4px;
}

.authorContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.authorAvatar {
	width: 40px;
	height: 40px;
}

.authorBlogName {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.2px;
}

.division {
	height: 4px;
	width: 100%;
	background-color: #f39c12;
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.icons i {
	font-size: 36px;
}

.commentForm {
	display: flex;
	flex-direction: column;
}

.commentAvatar {
	width: 20px;
	height: 20px;
}

.commentUser {
	font-size: 12px;
}
