/* @import url("./images.cover.jpeg"); */

.coverImg {
	background-image: url("../images/cover.jpeg");
	height: 50vh;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.homePageTitle {
	color: #f39c12;
	grid-area: title;
}

.container {
	width: 70vw;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		"title title"
		"blogsContainer categoriesContainer";
	column-gap: 40px;
}

.blogsContainer {
	grid-area: blogsContainer;
}

.categoriesContainer {
	grid-area: categoriesContainer;
	border-radius: 8px;
	border: 1px solid #c2c2c2;
}

.blogList {
	border-radius: 8px;
	border: 1px solid #c2c2c2;
}

.blogListTitle {
	color: #181818;
}

.blogList:hover .blogListTitle {
	color: #f39c12;
	transition: 0.3s;
}

.authorName {
	font-size: 16px;
	margin: 0px;
	margin-bottom: 4px;
	color: #181818;
}

.postedOn {
	font-size: 16px;
	color: #444444;
}

.link {
	text-decoration: none;
}
