.myBlogs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 40px;
	width: 80vw;
}

@media screen and (max-width: 992px) {
	.myBlogs {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 700px) {
	.myBlogs {
		grid-template-columns: 1fr;
	}
}
