.navParent {
	width: 100vw;
	padding: 10px 0px;
	background-color: #f39c12;
	box-shadow: 0px 2px 4px 0px #e6e6e6;
	color: #ffffff;
	display: flex;
	justify-content: center;
	letter-spacing: 0.3px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

nav {
	width: 80vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navBrand {
	font-family: "Lobster", cursive;
	font-size: 24px;
	/* color: #ffffff; */
}

.navLinks {
	width: 80%;
}

.navLinks ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	margin: 0px;
}

.navLinks ul li {
	padding: 10px 0px;
	transition: 0.3s;
	color: #ffffff;
	margin-left: 20px;
}

.navLinks ul li:hover {
	font-weight: 600;
	cursor: pointer;
	padding-bottom: 3px;
	border-bottom: 3px solid #ffffff;
}
