body {
	font-family: "montserrat";
}

.intro {
	height: 100vh;
}
.home {
	color: #ffffff;
	font-size: 18px;
	background-color: #1568f0;
}
.know-more {
	text-align: center;
}
.options {
	display: grid;
	grid-template-rows: 10% 10% 8% 52% 20%;
	height: 100vh;
	/* background-color: #44af69; */
	background: linear-gradient(135deg, #00dbde, #8e5ff0);
	justify-content: center;
	color: #ffffff;
	border-bottom-right-radius: 90%;
}

.options .title {
	grid-row-start: 2;
	grid-row-end: 3;
}
.select-options {
	font-size: 18px;
	font-weight: 600;
	display: grid;
	grid-template-rows: 25% 25% 25% 25%;
	align-items: center;
	/* grid-row-gap: 5%; */
	grid-row-start: 4;
	grid-row-end: 5;
}
.title .name {
	font-size: 36px;
	font-weight: 600;
}
.designation {
	font-size: 18px;
	display: block;
}
.designer-image,
.developer-image {
	height: 100px;
	width: auto;
}
.designer-icons img,
.developer-icons img {
	height: 30px;
	width: auto;
	margin-right: 10px;
}
.designer-icons,
.developer-icons {
	margin-top: 10px;
}
.designer-title,
.developer-title {
	font-size: 48px;
	display: block;
	font-weight: 500;
}
.designer-title .small,
.developer-title .small {
	font-size: 30px;
	font-weight: 800;
}
.designer-description,
.developer-description {
	font-size: 16px;
	line-height: 10px !important;
}

/* Experience */
.experience-info {
	color: #0d160b;
}
.professional-title span,
.college-title span {
	font-size: 30px;
	font-weight: 800;
}
.professional-details * {
	display: block;
}

.professional img {
	height: 60px;
	width: auto;
}
.professional-designation,
.college-designation {
	font-size: 16px;
	font-weight: 600;
	margin: 8px 0px;
}

.professional-description,
.college-description {
	font-size: 12px;
}

.college-details * {
	display: block;
}
.college {
	margin-top: 60px;
}

.progress-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-title {
	font-weight: 600;
	font-size: 48px;
}
.whatIDo-info p {
	margin-bottom: 60px;
}
.experience-info p {
	margin-bottom: 40px;
}
.skills-info p {
	margin-bottom: 60px;
}
@media (min-width: 768px) {
	.navbar {
		display: none;
	}
}

@media (max-width: 767.98px) {
	.main-title,
	.whatIDo-info p,
	.experience-info p,
	.skills-info p,
	.contact p {
		margin: 0px 0px 20px 0px;
		font-weight: 600;
		font-size: 42px;
	}
	.whatIDo-info div {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	section {
		margin-top: 20px;
	}
	.designer-title,
	.developer-title {
		font-size: 30px;
		font-weight: 500;
	}
	.designer-title .small,
	.developer-title .small {
		font-size: 24px;
		font-weight: 600;
	}
	.headstrait,
	.riidl,
	.enroot-mumbai,
	.be-project,
	.ojus,
	.exalt {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.options {
		display: none;
	}
	.designer-description,
	.developer-description {
		font-size: 12px;
		line-height: 12px;
	}
}

/* Bootstrap CSS overwriting */

.navbar {
	background: linear-gradient(135deg, #00dbde, #8e5ff0) !important;
}

.navbar-brand,
.nav-link {
	color: #ffffff !important;
}
.navbar-brand {
	font-weight: 600;
}
