body {
	margin: 0px;
	font-family: "montserrat";
}

.section {
	display: grid;
	grid-template-columns: 20% 80%;
	width: 100vw;
	height: 100vh;
}

.name-head {
	color: #2929cc;
	font-size: 64px;
	font-weight: 600;
	flex-grow: 2;
	display: flex;
	flex-direction: column;
}

.options {
	display: grid;
	grid-template-rows: 10% 10% 8% 52% 20%;
	height: 100vh;
	/* background-color: #44af69; */
	background: linear-gradient(135deg, #00dbde, #8e5ff0);
	justify-content: center;
	color: #ffffff;
	border-bottom-right-radius: 90%;
}

.options .title {
	grid-row-start: 2;
	grid-row-end: 3;
}
.select-options {
	font-size: 18px;
	font-weight: 600;
	display: grid;
	grid-template-rows: 20% 20% 20% 20% 20%;
	align-items: center;
	/* grid-row-gap: 5%; */
	grid-row-start: 4;
	grid-row-end: 5;
}
.title .name {
	font-size: 36px;
	font-weight: 600;
}
.title .designation {
}
.name {
	font-size: 30px;
	display: block;
}
.designation {
	font-size: 18px;
	display: block;
}

.whatIDo-info {
	display: grid;
	grid-template-columns: 16% 30% 8% 30% 16%;
	grid-template-rows: 23% 20% 2% 12% 2% 12% 0% 6% 23%;
	width: 100%;
	height: 100%;
	color: #0d160b;
	align-items: end;
	justify-content: space-around;
	word-wrap: break-word;
}

.designer-title,
.designer-description,
.designer-image,
.designer-icons {
	grid-column-start: 2;
	grid-column-end: 3;
}
.developer-title,
.developer-description,
.developer-image,
.developer-icons {
	grid-column-start: 4;
	grid-column-end: 5;
}

.designer-image,
.developer-image {
	grid-row-start: 2;
	grid-row-end: 3;
	height: 100%;
	width: auto;
}

.designer-title,
.developer-title {
	font-size: 48px;
	display: block;
	font-weight: 500;
	grid-row-start: 4;
	grid-row-end: 5;
}

.designer-description,
.developer-description {
	grid-row-start: 6;
	grid-row-end: 7;
	align-self: start;
	font-size: 16px;
}

.designer-icons,
.developer-icons {
	grid-row-start: 8;
	grid-row-end: 9;
	display: grid;
	grid-template-columns: 10% 10% 10% 10%;
	grid-column-gap: 6px;
}

.designer-icons img,
.developer-icons img {
	height: 30px;
	width: auto;
}

/* Experience CSS */

.experience-info {
	display: grid;
	grid-template-rows: 16% 30% 8% 30% 16%;
	grid-template-columns: 20% 60% 20%;
	width: 100%;
	height: 100%;
	color: #0d160b;
	align-items: end;
	justify-content: space-around;
	word-wrap: break-word;
}

.professional {
	grid-row-start: 2;
	grid-row-end: 3;
}

.college {
	grid-row-start: 4;
	grid-row-end: 5;
}

.professional,
.college {
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-rows: 20% 10% 70%;
	width: 100%;
	height: 100%;
}

.professional-title,
.college-title {
	grid-row-start: 1;
	grid-row-end: 2;
}

.professional-details,
.college-details {
	grid-row-start: 3;
	grid-row-end: 4;
}

.professional-title span,
.college-title span {
	font-size: 30px;
	font-weight: 800;
}

.professional-details,
.college-details {
	display: grid;
	grid-template-columns: 26% 11% 26% 11% 26%;
}

.professional-details * {
	display: block;
}

.professional img {
	height: 60px;
	width: auto;
}

.headstrait,
.riidl,
.enroot-mumbai {
	display: grid;
	grid-template-rows: 44% 5% 12% 5% 34%;
}

.headstrait {
	grid-column-start: 1;
	grid-column-end: 2;
}

.riidl {
	grid-column-start: 3;
	grid-column-end: 4;
}

.enroot-mumbai {
	grid-column-start: 5;
	grid-column-end: 6;
}

.professional-details img {
	grid-row-start: 1;
	grid-row-end: 2;
}
.professional-designation {
	grid-row-start: 3;
	grid-row-end: 4;
}
.professional-description {
	grid-row-start: 5;
	grid-row-end: 6;
}

.professional-designation,
.college-designation {
	font-size: 16px;
	font-weight: 600;
}

.professional-description,
.college-description {
	font-size: 12px;
}

.college-details * {
	display: block;
}

.be-project,
.ojus,
.exalt {
	display: grid;
	grid-template-rows: 24% 5% 34%;
}

.be-project {
	grid-column-start: 1;
	grid-column-end: 2;
}

.ojus {
	grid-column-start: 3;
	grid-column-end: 4;
}

.exalt {
	grid-column-start: 5;
	grid-column-end: 6;
}

.college-designation {
	grid-row-start: 1;
	grid-row-end: 2;
}

.college-description {
	grid-row-start: 3;
	grid-row-end: 4;
}

.skills-info {
	display: grid;
	grid-template-rows: 20% 60% 20%;
	grid-template-columns: 20% 60% 20%;
}
.skills-parent {
	display: grid;
	grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	/* grid-row-gap: 10px;	 */
	align-items: center;
}
.container {
	width: 100%;
	background-color: #ddd;
}

.skills {
	text-align: right;
}
.html {
	width: 90%;
	background-color: #e34f26;
}
.css {
	width: 80%;
	background-color: #1b73ba;
}
.js {
	width: 70%;
	background-color: #f7df1e;
}
.react {
	width: 40%;
	background-color: #1fdaff;
}
.xd {
	width: 90%;
	background-color: #fd26be;
}
.illustrator {
	width: 70%;
	background-color: #ff7c00;
}
.photoshop {
	width: 50%;
	background-color: #5dd4ff;
}
.figma {
	width: 70%;
	background-color: #a259ff;
}
