body {
	margin: 100px 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.reusable-input-field {
	border: 1px solid #707070;
	border-radius: 6px;
	margin: 10px;
	padding: 12px;
	font-size: 12px;
}

.reusable-button {
	border-radius: 6px;
	border: 0px;
	background: #2929cc;
	color: #ffffff;
	margin: 10px;
	padding: 12px;
	font-size: 12px;
}

.create {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	background-color: #ffffff;
	box-shadow: 0px 4px 4px 0px #c2c2c2;
}

.contactDisplay {
	width: 100vw;
}

.contactCard {
	display: grid;
	grid-template-rows: 50% 50%;
	/* box-shadow: 0px 0px 4px 0px #c2c2c2; */
	padding: 10px;
	border: 1px solid #707070;
}

.display {
	display: grid;
	grid-template-columns: 22% 22% 22% 22%;
	grid-column-gap: 4%;
}
