body {
	font-family: "Montserrat", "sans-serif";
}
.home {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* width: 80vw; */
	background-color: #1568f0;
	color: #ffffff;
}
.options {
	height: 100vh;
	/* width: 20vw; */
	background-color: black;
}
.options div {
	height: 25vh;
}
.whatIDo {
	background-color: #0dc866;
}
.experience {
	background-color: #ef233c;
}
.skills {
	background-color: #fbf5f3;
}
.contact {
	background-color: #011627;
}

/* Media queries */

@media (max-width: 767.98px) {
	.home {
		height: 80vh;
	}
	.options {
		height: 20vh;
	}
	/* .options div {
		height: inherit;
	} */
}

/* Bootstrap CSS overwrite */

.col-12,
.col-md-2,
.col-md-10 {
	padding: 0px;
}
